Authlib==0.15.2
autopep8==1.5.4
Babel==2.9.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cryptography==3.3.1
cycler==0.10.0
decorator==4.4.2
dnspython==2.0.0
email-validator==1.1.2
Flask==1.1.2
Flask-Admin==1.5.7
Flask-Babel==2.0.0
Flask-Bcrypt==0.7.1
Flask-Dance==3.2.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.4
flask-view-counter==0.1.2
Flask-WTF==0.14.3
geojson==2.5.0
googletrans==3.1.0a0
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageio==2.9.0
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.3
networkx==2.5
numpy==1.19.5
oauthlib==3.1.0
opencv-contrib-python==4.5.1.48
opencv-python-headless==4.5.1.48
password-strength==0.0.3.post2
Pillow==8.0.1
pycodestyle==2.6.0
pycparser==2.20
pyowm==3.1.1
pyparsing==2.4.7
pyperclip==1.8.1
pyshorteners==1.0.1
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.5
PyWavelets==1.1.1
requests==2.25.1
requests-oauthlib==1.3.0
rfc3986==1.4.0
scikit-image==0.18.1
scipy==1.6.0
six==1.15.0
sniffio==1.2.0
SQLAlchemy==1.3.22
SQLAlchemy-Utils==0.36.8
tifffile==2021.1.14
toml==0.10.2
urllib3==1.26.2
URLObject==2.4.3
Werkzeug==1.0.1
WTForms==2.3.3
