body {
    background: linear-gradient(to right,#000000, #23074d);
    background-size: 200%;
    animation: gradient 40s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #45f3ff;

}
