
header {
  padding-bottom: 30px;
}
a {
  color: #000000;
}
body {
  color: #000000;
  background: #ffcc70;
  background: -webkit-linear-gradient(to left, #4158d0, #d76d77, #ffcc70);
  background: linear-gradient(to left, #4158d0, #d76d77, #ffcc70);
  background-size: 200%;
  animation: gradient 40s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

/* Scrollbar */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: #ece9e6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
}

.bg-navbar {
  background: #0f2027;
}
.btn-language {
  background: #3f72af;
}
.hover-crossed li a:hover {
  text-decoration: line-through;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0%,
  50%,
  100% {
    transform: rotateY(0deg) rotate(0deg);
  }
  25% {
    transform: rotateY(0deg) rotate(10deg);
  }
  75% {
    transform: rotateY(0deg) rotate(-10deg);
  }
}
/* about-card */
.bg-card {
  cursor: default;
  background: #9796f0;
  background: -webkit-linear-gradient(to top, #fbc7d4, #9796f0);
  background: linear-gradient(to top, #fbc7d4, #9796f0);
}

.about-card,
.form-opinion {
  width: 500px;
}
.row-card {
  width: 1000px;
}
div .text-truncate {
  height: 500px;
}
@media (max-width: 500px) {
  .about-card,
  .form-opinion {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .row-card {
    width: 100%;
  }
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("Loader.gif") 50% 50% no-repeat rgb(103, 109, 137);
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

form {
  width: 600px;
  padding: 20px;
  box-shadow: 0 10px 50px #000000;
}

.wavy {
  word-spacing: 5px;
  position: relative;
  font-family: "Bad Script", cursive;
  
}
.wavy h2 {
  position: relative;
  display: inline-block;
  font-size: 2em;
  text-transform: uppercase;
  animation: wave 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
}

@media (max-width: 800px) {
  .wavy h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 500px) {
  .wavy h2 {
    font-size: 1.2em;
  }
}
@keyframes wave {
  0% {
    transform: translateY(0px);
  }
  20% {
    color: #2010ff;
    filter: blur(0.5px);
    transform: translateY(-20px);
  }
  40%,
  100% {
    color: #000000;
    transform: translateY(0px);
  }
}
.features {
  text-align: center;
}
/* Clock */
.myclock {
  padding-bottom: 20px;
  display: flex;
}

.clock {
  border-radius: 100%;
  font-family: "Montserrat";
  background-color: #ffffff;
  box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.wrap {
  background: url(clock.png);
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: white;
  border: 2px solid #1b1b1b;
  border-radius: 100px;
  margin: auto;
}

.second {
  border-radius: 50%;
  position: absolute;
  height: 85px;
  width: 3px;
  margin: auto;
  top: -43%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: #ff105e;
  transform-origin: bottom center;
  transform: rotate(-120deg);
  z-index: 1;
}

.minute {
  border-radius: 50%;
  background: #222831;
  position: absolute;
  height: 65px;
  width: 5px;
  top: -33%;
  left: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  transform-origin: bottom center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: rotate(0deg);
  z-index: 1;
}

.hour {
  border-radius: 50%;
  position: absolute;
  height: 50px;
  width: 7px;
  margin: auto;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  background: blue;
  transform-origin: bottom center;
  transform: rotate(-120deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}
/* Calendar */
.calendar {
  text-transform: capitalize;
  position: relative;
  width: 200px;
  background: #ffffff;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.calendar #monthName {
  position: relative;
  background: #ff6331;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.calendar #dayName {
  font-size: 20px;
  font-weight: 300;
  color: #333333;
}
.calendar #dayNumber {
  line-height: 1em;
  font-size: 80px;
  font-weight: 700;
  color: #333333;
}

.calendar #year {
  font-size: 20px;
  font-weight: 500;
  color: #999999;
}

/* Music */
.player {
  position: relative;
  width: 350;
}

.player .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
}

.player h3 {
  position: relative;
  color: #0400ff;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-reflect: below 1px linear-grradient(transparent, #0008);
  line-height: 0.7em;
  outline: none;
  animation: lighting 5s linear infinite;
}

@keyframes lighting {
  0%,
  20%,
  40%,
  60%,
  80%,
  99.9% {
    color: #0400ff;
    text-shadow: none;
  }

  0.1%,
  20.1%,
  40.1%,
  60.1%,
  80.1%,
  100% {
    color: #15b400;
  }
}

.player audio {
  width: 350px;
  background: white;
}
audio::-webkit-media-controls-panel {
  background: white;
}

/* Calculator */
.my-calculator {
  margin: 0;
  padding: 0;
  padding: 0px 20px 20px 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: inline-block;
}

.calculator {
  margin: 0;
  padding: 0;
  position: relative;
  display: grid;
  width: 320px;
}

.calculator .value {
  grid-column: span 4;
  height: 60px;
  text-align: right;
  border-color: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
}

.calculator input {
  border-color: none;
  outline: none;
  padding: 1px;
}

.calculator span {
  display: grid;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #0c2835;
  place-items: center;
  border: 1px solid #0000ff;
}

.calculator span:active {
  background: #74ff3b;
  color: #111;
}

.calculator span.clear {
  grid-column: span 2;
  width: 160px;
  background: rgb(248, 10, 89);
}

.calculator span.plus {
  grid-row: span 2;
  height: 160px;
}

.calculator span.equal {
  background: #00c9ff;
}

.card {
  background: transparent;
  border: none;
  margin-left: 0;
}
.card .account-img {
  margin: auto;
}
@media (max-width: 500px) {
  .profile {
    width: 100%;
  }
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #dc2424 0%,
    #4a569d 51%,
    #dc2424 100%
  );
}
.btn-grad {
  height: 60px;
  width: 350px;
  margin-bottom: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
}
@media (max-width: 400px) {
  .btn-grad {
    width: 90%;
  }
}
/* Passoword Generator */
.inputBox {
  position: relative;
  width: 450px;
}

.inputBox input {
  position: relative;
  width: 100%;
  height: 60px;
  border: none;
  margin: 15px 0 20px;
  background: white;
  outline: none;
  padding: 0 20px;
  font-size: 24px;
  letter-spacing: 4px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #333;
  box-shadow: -4px -4px 10px rgba(255, 255, 255, 1) inset 4px 4px 10px rgba(
      0,
      0,
      0,
      0.5
    ) inset -4px -4px 10px rgba(255, 255, 255, 1) 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.inputBox input::placeholder {
  letter-spacing: 0px;
}
.inputBox .copy {
  position: absolute;
  top: 80px;
  right: 15px;
  cursor: pointer;
  opacity: 0.5;
}

.inputBox .copy:hover {
  opacity: 1;
}

.btn-admin {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
  background: #03e9f4;
  color: #050801;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
