/* Rocket */
* {
    cursor: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #111;
}

body i {
    position: absolute;
    top: -250px;
    background: #ffffff;
    filter: blur(1px);
    animation: star linear infinite;
}

.btn-grad {background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%)}
.btn-grad {
   cursor: pointer;
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

.scene {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
}


@keyframes star {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

.scene .rocket {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    position: absolute;
    pointer-events: none;
    animation: moving 0.2s ease infinite;
    transition: 0.1s;

}

@keyframes moving {
    0%, 100% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
}

.scene .rocket::before {
    content: "";
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient(#00d0ff, transparent);
}

.scene .rocket::after {
    content: "";
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 200px;
    filter: blur(20px);
    background: linear-gradient(#00d0ff, transparent);
}
.scene:active .rocket::before,
.scene:active .rocket::after {
    background: linear-gradient(red, #ffa500, transparent);
    bottom: -300px;
    height: 300px;
    filter: blur(2px);
}