{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form class="needs-validation" method="POST" action="" novalidate>
    {{ form.hidden_tag() }}
    <fieldset class="w-25 h5">
      <legend class="mb-3">{{  _("Change Password")  }}</legend>
      <div class="mb-4">
        {{ form.old_password.label(class="form-control-label") }}
        {% if form.old_password.errors %}
          {{ form.old_password(class="form-control form-control-lg is-invalid",
                               placeholder="Enter old password",
                               autofocus=True) }}
          <div class="invalid-feedback">
            {% for error in form.old_password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.old_password(class="form-control form-control-lg",
                               placeholder="Enter old password",
                               autofocus=True) }}
          <div class="valid-feedback">
            Looks good!
          </div>
        {% endif %}
      </div>
      <div class="mb-4">
        {{ form.new_password.label(class="form-control-label") }}
        {% if form.new_password.errors %}
          {{ form.new_password(class="form-control form-control-lg is-invalid",
                               placeholder="Enter new password",
                               autofocus=True) }}
          <div class="invalid-feedback">
            {% for error in form.new_password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.new_password(class="form-control form-control-lg",
                               placeholder="Enter new password") }}
          <div class="valid-feedback">
            Looks good!
          </div>
        {% endif %}
      </div>
      <div class="mb-4">
        {{ form.confirm_password.label(class="form-control-label") }}
        {% if form.confirm_password.errors %}
          {{ form.confirm_password(class="form-control form-control-lg is-invalid",
                                   placeholder="Confirm new password",
                                   autofocus=True) }}
          <div class="invalid-feedback">
            {% for error in form.confirm_password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.confirm_password(class="form-control form-control-lg",
                                   placeholder="Confirm new password") }}
          <div class="valid-feedback">
            Looks good!
          </div>
        {% endif %}
      </div>
      {{ form.submit(class="btn btn-outline-danger font-weight-bold") }}
    </fieldset>
  </form>
</div>
{% endblock content %}