{% extends "layout.html" %}
{% block content %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
  <div class="content-section">
    <form class="needs-validation" method="POST" action="" novalidate>
      {{ form.hidden_tag() }}
      <fieldset class="mb-3 w-75">
        <h2 class="font-weight-bold mb-4">{{ legend }}</h2>
        <div class="mb-4">
          {{ form.title.label(class="form-control-label") }}
          {% if form.title.errors %}
            {{ form.title(class="form-control form-control-lg is-invalid",
                          placeholder="Enter title of the post",
                          autofocus=True) }}
            <div class="invalid-feedback">
              {% for error in form.title.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.title(class="form-control form-control-lg",
                          placeholder="Enter title of the post",
                          autofocus=True) }}
            <div class="valid-feedback">
              Looks good!
            </div>
          {% endif %}
        </div>
        <div class="mb-4">
          {{ form.content.label(class="form-control-label") }}
          {% if form.content.errors %}
            {{ form.content(class="form-control form-control-lg is-invalid",
                            placeholder="Enter content of the post",
                            autofocus=True) }}
            <div class="invalid-feedback">
              {% for error in form.content.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.content(class="form-control form-control-lg",
                            placeholder="Enter title of the post") }}
            <div class="valid-feedback">
              Looks good!
            </div>
          {% endif %}
        </div>
        <div class="mb-3">
          {{ form.submit(class="btn btn-outline-primary font-weight-bold") }}
        </div>  
      </fieldset>
    </form>
  </div>
{% endblock content %}