<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--  CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest')}}">
    <link rel="mask-icon" href="{{ url_for('static', filename='icons/safari-pinned-tab.svg')}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>{{title}}</title>
</head>

<body>
  <div id="scrollPath"></div>
  <nav class="navbar navbar-dark bg-navbar navbar-expand-lg p-3 px-md-4">
    <h4 class="font-weight-normal text-white">{{ title }}</h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav m-auto hover-crossed">
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('main.home') }}">
            {{  _("Home")  }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{{ url_for('main.about') }}">
            {{  _("About me")  }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success" href="{{ url_for('main.feedback') }}">
            {{  _("Feedback")  }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning" href="{{ url_for('features.my_features') }}">
            {{  _("Features")  }}
          </a>
        </li>
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-primary" href="{{ url_for('users.account', username=current_user.username) }}">
              {{  _("Account")  }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="{{ url_for('posts.create_post') }}">
              {{  _("New post")  }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="{{ url_for('users.logout') }}">
              {{  _("Log out")  }}
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link text-primary" href="{{ url_for('users.login') }}">
              {{  _("Log in")  }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="{{ url_for('users.register', title='Register') }}">
              {{  _("Register")  }}
            </a>
          </li>
        {% endif %}
      </ul>
      <div class="form-inline">
        <div class="dropdown">
          <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose language
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/languages/en">English</a>
            <a class="dropdown-item" href="/languages/ru">Русский</a>
            <a class="dropdown-item" href="/languages/de">Deutsch</a>
            <a class="dropdown-item" href="/languages/es">Español</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <br>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <footer class="container my-5 pt-5  text-muted text-small">
    <p class="mb-2 font-weight-bold text-dark">
      {{  _("Thank's for watching)")  }}
    </p>
    <div class="list-inline">
      <a target="_blank" href="https://vk.com/idnforever">
        <img class="rounded-circle article-img" width="30" height="30" src="{{ url_for('static', filename='Logos/vk.jpg') }}">
      </a>
      <a target="_blank" href="https://www.instagram.com/silent_kirill/">
        <img class="rounded-circle article-img" width="30" height="30" src="{{ url_for('static', filename='Logos/instagram.jpg') }}">
      </a>
      <a target="_blank" href="mailto:kirillswebsite@gmail.com">
        <img class="rounded-circle article-img" width="30" height="30" src="{{ url_for('static', filename='Logos/gmail.jpg') }}">
      </a>
      <a target="_blank" href="https://github.com/skyrimer">
        <img class="rounded-circle article-img bg-light" width="30" height="30" src="{{ url_for('static', filename='Logos/GitHub-dark.png') }}">
      </a>
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>