{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group w-25 h5">
                <h1>{{  _("Log In")  }}</h1>
                <br>
                <div class="form-group " >
                    {{ form.email_or_username.label(class="form-control-label") }}
                    {% if form.email_or_username.errors %}
                        {{ form.email_or_username(class="form-control form-control-lg is-invalid",
                                                  placeholder="Email or username",
                                                  autofocus=True) }}
                        <div class="invalid-feedback">
                            {% for error in form.email_or_username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email_or_username(class="form-control form-control-lg", 
                                                  placeholder="Email or Username",
                                                  autofocus=True) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid",
                                         placeholder="Your password",
                                         autofocus=True) }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg",
                                         placeholder="Your password") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
                <div class="form-group mt-3">
                    {{ form.submit(class="btn btn-outline-primary font-weight-bold") }}
                </div>
                    <a class="text-white font-weight-bold mb-3" href="{{ url_for('users.reset_request') }}">
                        {{  _("Forgot Password?")  }}
                    </a>
                    <br>
                    <a class="text-light font-weight-bold" href="{{ url_for('users.register', title='Register') }}">
                        {{  _("Register now!!!")}}
                    </a>
            </fieldset>
        </form>
    </div>
{% endblock content %}