{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/features.css')}}">
    <div class="featureBox">
        <div class="inputBox">
            <h2>Random Password Generator</h2>
            <input type="text" placeholder="Create Password" id="password" readonly>
            <img onclick="copyPassword()" src="{{ url_for('static', filename='copy/copy.png') }}" alt="Copy" class="copy">
            <button onclick="getPassword()" class="btn btn-lg btn-outline-primary font-weight-bold">{{ _("Click")  }}</button>
        </div>
    </div>
    <script type="text/javascript">
        function clearSelection() {
            if (window.getSelection) {
              window.getSelection().removeAllRanges();
            } else { // старый IE
              document.selection.empty();
            }
        }

        function copyPassword() {
            var copyText = document.getElementById("password");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            clearSelection()
        }
        
        function getPassword() {
            var chars = "QWERTYUIOPASDFGHJKLZXCVBNMqwertyuiop[]asdfghjkl;zxcvbnm,./"
            var passwordLength = 15
            var password = ""
            for (let i = 0; i < passwordLength; i++) {
                var randoNumber = Math.floor(Math.random() * chars.length);
                password += chars.substring(randoNumber, randoNumber+1)
                
            }
            document.getElementById("password").value = password
        }
    </script>
{% endblock content %}
