{% extends "layout.html" %}
{% block content %}
  {% if posts.items|length > 0 %}
    <h1 class="mb-3">{{ title }} ({{ posts.total }})</h1>
    {% for post in posts.items %}
    <div class="mb-5 row row-card">
      <div class="col-3 col-md-2">
        <img class="mt-1 ml-1 rounded-circle account-img"  width="100" height="100"  src="{{ url_for('static', filename='profile_pictures/' + post.author.image_file) }}"> 
      </div>
      <div class="col-12 col-md-8">  
        <h4 class="mb-2">
          <a href="{{ url_for('posts.post', post_id=post.id) }}">
            {{ post.title }}
          </a>
        </h4>
        <h5>
          <a class="text-dark" href="{{ url_for('users.account', username=post.author.username) }}">
            by {{ post.author.username }}
          </a>
        </h5>
        <strong class="mb-3 text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</strong>
        <p class="card-text">{{ post.content }}</p>
      </div>
    </div>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-primary mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-primary mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
  {% else %}
    {% if current_user == user %}
      <h2>{{  _("You have no posts 😱")  }}</h2>
    {% else %}
      <h2>{{  _("User has no posts 😱")  }}</h2>
    {% endif %}
  {% endif %}
{% endblock content %}